@CHARSET "UTF-8";

/* header영역  */
header {
	background-color: #f8f8f8;
	border-color : e7e7e7;
}
nav {	
    width: 100%;
}
nav>hr {
	margin : 0px;
}

div.headerDiv {
	width : 1200px;
	margin :0 auto;
	border-bottom : 1px solid black;
}
div.textCenter {
	text-align : center;
}
div.topBoard {
	border-top : 1px solid e7e7e7;
}

img.logo {
	width : 300px;
	margin : 0 auto;
}

div.headerContainer{
    background-color:beige;
    height: auto;
    margin:auto; 
}

div.widMargin {
	width : 1200px;
    margin:auto; 
}

div.header2Div {
	width : 1200px;
	m
}

/* footer */
footer {
	border-top : 1px solid #e3e3e3;
	background-color : #eee;
	display : block;
	width : 100%;
	float : left;
	height : 125px;
	
}

div.footerDiv {
	width : 1200px;
	margin :0 auto;
}

div.footerText {
	margin : 10px 0px 0px 20px;
	float:left;
}

/* END footer */
div.contentsContainer {
	width : 1200px;
	height : 1000px;
	margin :0 auto;
	display : block;
}

div.photoBookContainer {
	width : 1200px;
	height : auto;
	margin :0 auto;
    align-content: center;
    display : block;
}

div.photoBookContent {
	height : 700px;
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
}

div .LeftPageDiv {
	width : 445px;
    height: 665px;
    float: left;
    margin-left: 15px;
    border-left: 1px solid antiquewhite;
    border-top: 1px solid antiquewhite;
    border-bottom: 1px solid antiquewhite;
    background-image: url("../views/book/A3_layout_0.jpg");
    overflow: hidden;
}

div .RightPageDiv {
    
	width : 445px;
    height: 665px;
    float:left;
    margin-right: 10px;
    border-right: 1px solid antiquewhite;
    border-top: 1px solid antiquewhite;
    border-bottom: 1px solid antiquewhite;
    background-image: url("../views/book/A3_layout_0.jpg");
    overflow: hidden;
}

div #bookPageRight img, div #bookPageLeft img {
    max-height: 665px;
}

div.bookPaging1 {
    width : 14px;
    height: 665px;
    background-color: darkblue;
    float:left;
}
div .bookPaging2 {
    width : 14px;
    height: 665px;
    background-color: darkblue;
    float:left;
}

div #layoutDiv {
	width : 140px;
    margin-left: 10px;
    height: 665px;
    float: left;
    border: 1px solid white;
}


div.photoLayoutMedium{
    background-color:beige;
    width: 95%;
    height: 40%;
    margin:auto; 
}

img.leftRightBtnImg {
    width : 50px;
    display:inline;
    vertical-align: middle;
    float:left; 
    
    margin-top: 314px;
}
img.topDownBtnImg {
    width : 35px;
    height: 23px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
}
img.layoutIcon1, img.layoutIcon2 {
    width : 100px;
    height: 133px;
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

div #photoListDiv {
	width : 1000px;
    height: 150px;
    background-color: azure;
    margin : 20px 100px 20px 100px;
    float: left;
    display: block;
    overflow: scroll;
}

img.uploadPhoto {
    width: auto; height: auto;
    max-width: 100px;
    max-height: 100px;
    margin: 5px 15px;
}

div.btnDiv {
    width : 500px;
    height: 300px;
    margin:0 auto;
    display: block;
}

div.leftMenu {
	width : 200px;
	height : 800px;
	background-color : pink;
	float:left;
	display : inline;
}
div.contentsWithLeft {
	width : 710px;
	height : 850px;
	background-color : white;
	float : left;
	margin-left : 10px;
}

table.blueListTab {
	margin : 0 auto;
	margin-top : 20px;
	width : 700px;
	text-align: center;
}

table.blueListTab th{
	height : 30px;
	border-bottom: 1px solid #48E9FA;
	background-color : #48E9FA;
	color : white;
	text-align: center;
}

table.blueListTab tr{
	border-bottom: 1px solid black;
}

table.blueListTab tr:nth-child(even) {
	background-color: #f2f2f2
	}
	
	
	/* 마이페이지 타이틀 */
div.mypageTitle{
	width : 1200px;
	margin : 0 px;
	border-bottom : 1px solid #e3e3e3;
	display : block;
	height : 50px;
	padding-top : 10px;
}
div.title_left{
	width : 750px;
	font-size : 20px;
	float:left;
	margin-left : 20px;
}
ul.title_ul{
	width : 400px;
	float:left;
	list-style : none;
	position: relative;	
}

ul.title_ul>li{
	position : relative;
	float:left;
}
li.title_li{
	width:100px;
}
li.title_li_icon{
	width: 20px;
	margin : 0 10px 0 20px;
}

/* 로그인 페이지 */
div.login-wrap {
	margin : 20px auto;
	padding : 40px;
	height : auto;
	background-color : antiquewhite;	
}

