@CHARSET "UTF-8";

header {
	background-color: #f8f8f8;
	border-color : e7e7e7;
	
}
div.headerDiv {
	width : 940px;
	margin :0 auto;
}

footer {
	background-color : #eee;
	border-color : e7e7e7;
}

div.footerDiv {
	width : 940px;
	margin :0 auto;
}

div.contents {
	width : 940px;
	height : 1000px;
	margin :0 auto;
	background-color : yellow;
}