@CHARSET "UTF-8";

header {
	background-color: #f8f8f8;
	border-color : e7e7e7;
	
}
div.headerDiv {
	width : 940px;
	margin :0 auto;
}

footer {
	background-color : #eee;
	border-color : e7e7e7;
}

div.footerDiv {
	width : 940px;
	margin :0 auto;
}

div.contentsContainer {
	width : 940px;
	height : 1000px;
	margin :0 auto;
}

div.photoBookDiv {
	width : 1520x;
	height : 1000px;
	margin :0 auto;
	background-color : yellow;
}

div #bookPageLeft {
	width : 760px;
}

div #bookPageRight {
	width : 760px;
}

div.leftMenu {
	width : 200px;
	height : 800px;
	background-color : pink;
	float:left;
}
div.contentsWithLeft {
	width : 740px;
	height : 850px;
	background-color : white;
	float : left;
}

table.blueListTab {
	margin : 0 auto;
	margin-top : 20px;
	width : 700px;
	text-align: center;
}

table.blueListTab th{
	height : 30px;
	border-bottom: 1px solid #48E9FA;
	background-color : #48E9FA;
	color : white;
	text-align: center;
}

table.blueListTab tr{
	border-bottom: 1px solid black;
}

table.blueListTab tr:nth-child(even) {
	background-color: #f2f2f2
	}
