<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="totoBook.store.mapper.MemberMapper">
	
	<resultMap type="Member" id="MemberMap">
		<id column="member_id" property="memberId"/>
		<result column="name" property="name"/>
		<result column="password" property="password"/>
		<result column="address" property="address"/>
		<result column="phone" property="phone"/>
		<result column="receive_Email" property="receiveEmail"/>
	
	</resultMap>
	
	<insert id="insertMember" parameterType="Member">
	INSERT INTO member_tb (member_id, name, password, address, phone, receive_email)		
	VALUES (#{memberId} ,#{name}, #{password}, #{address}, #{phone}, #{receiveEmail})
	</insert>
	
	
	<select id="selectMemberById" parameterType="String" resultMap="MemberMap">
	SELECT member_Id, name, password, address, phone,receive_Email
	FROM member_tb
	WHERE member_id = #{memberId}	
	</select>
	
	<select id="selectMembersByTel" parameterType="String" resultMap="MemberMap">
	SELECT member_Id, name, password, address, phone,receive_Email
	FROM member_tb
	WHERE phone = #{phone}
	
	</select>
	<select id="selectMembersByName" parameterType="Member" resultMap="MemberMap">
	SELECT member_Id, name, password, address, phone,receive_Email
	FROM member_tb
	ORDER BY member_name = #{name}
	</select>
	
	<select id="selectMember" parameterType="Member" resultMap="MemberMap">
	SELECT member_Id, name, password, address, phone, receive_Email
	FROM member_tb
	WHERE member_id = #{memberId}
	
	</select>
	<select id="selectAllmembers" parameterType="Member" resultMap="MemberMap">
	SELECT member_Id, name, password, address, phone, receive_Email
	FROM member_tb
	ORDER BY member_Id DESC
	
	</select>
	<update id="updateMember" parameterType="Member">
		UPDATE member_tb
		SET member_id=#{memberId} ,member_address=#{address}, member_phone=#{phone},receive_Email=#{receiveEmail}
		WHERE member_id= #{memberId}
	
	</update>
	
	<delete id="deleteMember" parameterType="Member">
		DELETE
		FROM member_tb
		WHERE member_tb = #{memberId}
	</delete>
	
  
  </mapper>