<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="totoBook.store.mapper.NoticeMapper">

	<resultMap type="Post" id="noticeMap">
	<id column="post_id" property="postId" />
		<result column="post_name" property="title" />
		<result column="content" property="content" />
		<result column="image_address" property="imageAddressPath" />
		<result column="image_ext" property="image_ext" />
	<association property="member" column="member_id" select="totoBook.store.mapper.MemberMapper.selectMemberById"
				javaType="Member" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectAllNotice" resultMap="noticeMap">
		SELECT
		post_id,member_id,post_name,content,image_address,image_ext
		FROM notice_tb
	</select>
	<select id="selectNoticeById" parameterType="String" resultMap="noticeMap">
		SELECT post_id,member_id,post_name,content,image_address,image_ext
		FROM notice_tb
		WHERE post_id=#{noticeId}
	</select>
	<insert id="insertNotice" parameterType="Post">
		INSERT INTO notice_tb
		(post_id,member_id,post_name,content,image_address,image_ext)
		VALUES(NOTICE_SEQ.NEXTVAL,#{member.memberId},#{title},#{content},#{imageAddressPath},#{image_ext})
	</insert>
	<delete id="deleteNotice" parameterType="String">
		DELETE
		FROM notice_tb
		WHERE post_id = #{noticeId}
	</delete>
	<update id="updateNotice" parameterType="Post">
		UPDATE notice_tb
		SET
		post_name=#{title},content=#{content},image_address=#{imageAddressPath},image_ext=#{image_ext}
		WHERE post_id=#{postId}
	</update>
</mapper>
  
  
  
  