<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="totoBook.store.mapper.OptionMapper">


	<resultMap type="Option" id="optionMap">
		<id property="optionId" column="OPTION_id" jdbcType="VARCHAR"/>
		<result property="optionName" column="OPTION_name" jdbcType="VARCHAR" />
		<result property="optionDesp" column="value" jdbcType="VARCHAR" />
		<result property="optionPrice" column="OPTION_PRICE" jdbcType="INTEGER"/>
		<result property="productId" column="PRODUCT_ID" jdbcType="VARCHAR" />
	</resultMap>


	<insert id="insertOption" parameterType="Option">
		INSERT INTO
		option_tb(option_id, option_name, value, option_price,
		product_id)
		values (option_seq.nextval, #{optionName}, #{optionDesp},
		#{optionPrice}, #{productId})
	</insert>

	<update id="updateOption" parameterType="Option">
		DELETE option_tb
		WHERE prodcut_id = #{productId}
		INSERT INTO
		option_tb(option_id, option_name, value, option_price,
		product_id)
		values (option_seq.nextval, #{option_name}, #{value},
		#{option_price}, #{productId})
	</update>
	<!--의미없음 옵션 삭제후 product입력!?!  -->

	<delete id="deleteOption">
		DELETE option_tb
		WHERE prodcut_id = #{productId}
	</delete>

	<select id="selectOptions" parameterType="String" resultMap="optionMap">

		SELECT option_id, option_name, value, option_price, product_id
		from option_tb
		where PRODUCT_id = #{productId}

	</select>

</mapper>
