<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- <resultMap type="Print" id = "printMap">
		<id property = "printId" column = "print_id"/>
		<result property = "optionDesp" column = "print_option"/>
		<association property = "member" column = "member_id"
			select="totoBook.store.mapper.MemberMapper.selectMemberById"
			javaType = "Member" jdbcType = "VARCHAR"/>
		<association property="product" column = "product_id"
			select = "totoBook.store.mapper.ProductMapper.selectProductById"
			javaType = "Product" jdbcType = "VARCHAR"/>
		<collection property="posts" column = "blog_id" ofType="Post"
		select="blog.store.mapper.PostMapper.findPostsByBlogId"
		javaType="ArrayList" jdbcType="NUMERIC"/>
	</resultMap>
	
  	<insert id="insertPrint" parameterType = "Print">
  		INSERT INTO print_tb
  		VALUES (print_seq.NEXTVAL, #{member.memberId}, #{product.productId}, #{optionDesp})
  	</insert>
  	<delete id="deletePrint" parameterType = "string">
  		delete FROM print_tb
  		where print_id = #{printId}
  	</delete>
  	<select id="selectPrintsByUserId" parameterType = "string" resultMap = "printMap">
  		SELECT print_id, member_id, product_id, print_option
  		FROM print_tb
  		WHERE member_id = #{memberId}
  	</select>-->
<mapper namespace="totoBook.store.mapper.OrderMapper">
	<resultMap type = "Order" id = "orderMap">
		<id property = "orderId" column = "order_id"/>
		<result property="ordDate" column = "order_date"/>
		<result property="payment" column = "payment"/>
		<result property="ordPrice" column = "total_price"/>
		<result property = "ordWay" column = "address"/>
		<result property = "bookPhotoId" column = "bookphoto_id"/>
		<result property = "category" column = "category"/>
		<association property = "member" column = "member_id"
					select="totoBook.store.mapper.MemberMapper.selectMemberById"
					javaType = "Member" jdbcType = "VARCHAR"/>
	</resultMap>
	<insert id = "insertOrder" parameterType = "Order">
		INSERT INTO order_tb (order_id, order_date, payment, total_price, address, member_id, bookPhoto_id, category)
		VALUES (order_seq.NEXTVAL, SYSDATE, #{payment}, #{ordPrice}, #{member.address}, #{member.memberId}, #{bookPhotoId}, #{category})
	</insert>
	<update id = "updateOrder" parameterType = "Order">
		Update order_tb 
		SET address = #{ordWay} 
		WHERE order_id = #{orderId}
	</update>
	<select id = "selectAllOrders" resultMap = "orderMap">
		SELECT order_id, order_date, payment, total_price, address, member_id, bookphoto_id, category
		FROM order_tb
		Order by order_id
	</select>
	<select id = "selectOrdersByMemberId" parameterType = "string" resultMap = "orderMap">
		SELECT order_id, order_date, payment, total_price, address, member_id, bookphoto_id, category
		FROM order_tb
		WHERE member_id = #{memberId}
		Order by order_id
	</select>
	<select id = "selectOrdersByDates" parameterType = "date" resultMap = "orderMap">
		SELECT order_id, order_date, payment, total_price, address, member_id, bookphoto_id, category
		FROM order_tb
		WHERE order_date between #{startDate} and #{endDate}
		Order by order_id
	</select>
	<select id = "selectOrdersByOrderId" parameterType = "string" resultMap = "orderMap">
		SELECT order_id, order_date, payment, total_price, address, member_id, bookphoto_id, category
		FROM order_tb
		WHERE order_id = #{orderId}
		Order by order_id
	</select>
</mapper>
<!--void insertOrder(Order order);
	void updateOrder(Order order);
	List<Order> selectAllOrders();
	List<Order> selectOrdersByMemberId(String memberId);
	List<Order> selectOrdersByDates(Date StartDate, Date endDate);
	List<Order> selectOrdersByOrderId(String orderId);
-->