<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="totoBook.store.mapper.PageMapper">

	<resultMap type="Page" id="pageMap">
		<id property="pageId" column="page_id" />
		<result property="imageAddress" column="image_Address" />
		<association property="book" column="book_id"
			select="totoBook.store.mapper.BookMapper.selectBook"
			javaType="Book" jdbcType="NUMERIC" />
	</resultMap>

	<insert id="insertPage" parameterType="Page">
			insert into Page_Tb(PAGE_ID, BOOK_ID, IMAGE_ADDRESS)
			VALUES(PAGE_seq.nextval, #{book.bookId}, #{imageAddress})
	</insert>
	
	<delete id="deletePages" parameterType="String">
		DELETE FROM PAGE_TB
		WHERE BOOK_ID = #{bookId}
	
	</delete>
	
	<select id="selectPagesByBookId" parameterType="String" resultMap="pageMap">
		SELECT PAGE_ID, BOOK_ID, IMAGE_ADDRESS
		FROM PAGE_TB
		WHERE BOOK_ID = #{bookId}
	</select>

</mapper>
  
  
  