<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="totoBook.store.mapper.PhotoMapper">
	<resultMap type = "Photo" id = "photoMap">
		<id property = "photoId" column = "photo_id"/>
		<result property = "fileName" column = "image_address"/>
		<result property = "amount" column = "amount"/>
		<result property = "printId" column = "print_id"/>
	</resultMap>
	<insert id = "insertPhoto" parameterType = "Photo">
		INSERT INTO photo_tb
		VALUES (photo_seq.nextval, #{fileName}, #{amount}, #{printId})
	</insert>
	<delete id = "deletePhotos" parameterType = "string">
		delete FROM photo_tb
		WHERE print_id = #{printId}
	</delete>
	<select id = "selectPhotosByPrintId" parameterType = "string" resultMap = "photoMap">
		select photo_id, image_address, amount, print_id
		from photo_tb
		where print_id = #{printId}
	</select>
	<select id = "selectPhotoByPhotoId" parameterType = "string" resultMap = "photoMap">
		select photo_id, image_address, amount, print_id
		from photo_tb
		where photo_id = #{photoId}
	</select>
</mapper>
<!-- 
	void insertPhotos(List<Photo> photos);
	void deletePhotos(String PrintId);
	List<Photo> selectPhotosByPrintId(String printId);
	Photo selectPhotoByPhotoId(String photoId);
 -->
