<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="totoBook.store.mapper.ProductMapper">


	<resultMap type="Product" id="productMap">
		<id property="productId" column="product_id" jdbcType="VARCHAR"/>
		<result property="name" column="product_name" />
		<result property="productprice" column="price" jdbcType="NUMERIC"/>
		<result property="category" column="CATEGORY" />
		<result property="descript" column="detail" />
		<result property="imageAddress" column="image_address" />
	</resultMap>

	<sql id="selectpd">
		select PRODUCT_ID, PRODUCT_NAME, PRICE, category, DETAIL,
		IMAGE_ADDRESS, IMAGE_EXT
		from product_TB
	</sql>

	<insert id="insertProduct" parameterType="Product" useGeneratedKeys="true">
		<selectKey keyProperty="productId" resultType="string" order="BEFORE"> 
		SELECT product_seq.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO
		PRODUCT_TB(PRODUCT_ID, PRODUCT_NAME, PRICE, category, DETAIL,
		IMAGE_ADDRESS)
		VALUES(#{productId}, #{name},
		#{productprice},
		#{category}, #{descript}, #{imageAddress})
	</insert>

	<update id="updateProduct" parameterType="Product">

		UPDATE product_tb
		SET
		PRODUCT_NAME = #{name}, PRICE = #{productprice},
		category =
		#{category}, DETAIL=#{descript},
		IMAGE_ADDRESS = #{imageAddress}
		where product_id = #{productId}


<!-- 
		UPDATE product_tb
		SET
		PRODUCT_NAME = #{name}, PRICE = #{productprice},
		category =
		#{category}, DETAIL=#{descript},
		IMAGE_ADDRESS = #{imageAddress},
		where product_id = #{productId}
 -->

	</update>

	<delete id="deleteProduct" parameterType="String">
		DELETE product_tb
		WHERE product_id =
		#{productId}
	</delete>

	<select id="selectAllProducts" parameterType="Product" resultMap="productMap">
		<include refid="selectpd" />
	</select>

	<select id="selectProductsByCategory" parameterType="String" resultMap="productMap">
		<include refid="selectpd" />
		where category = #{category}
	</select>

	<select id="selectProductsByName" parameterType="String" resultMap="productMap">
		<include refid="selectpd" />
		where product_name like #{name%}
	</select>

	<select id="selectProductById" parameterType="String" resultMap="productMap">
		<include refid="selectpd" />
		where PRODUCT_ID = #{productId}
	</select>




</mapper>