<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="totoBook.store.mapper.QuestionMapper">

	<resultMap type="Post" id="questionMap">
		<id column="post_id" property="postId" />
		<result column="member_id" property="memberId" />
		<result column="post_name" property="title" />
		<result column="content" property="content" />
		<result column="image_address" property="filename" />
		<result column="image_ext" property="contentType" />
			<association property="member" column="member_id"
				javaType="Member" jdbcType="VARCHAR"/>
	</resultMap>
	<select id="selectAllNotice" resultMap="questionMap">
		SELECT
		post_id,member_id,post_name,content,image_address,image_ext
		FROM
		question_tb
	</select>
	<select id="selectNoticeById" parameterType="String" resultType="Post">
		SELECT post_id,member_id,post_name,content,image_address,image_ext
		FROM question_tb
		WHERE post_id=#{questionId}
	</select>
	<insert id="insertQuestion" parameterType="Post">
		INSERT INTO
		question_tb
		(post_id,member_id,post_name,content,image_address,image_ext)
		VALUES
		(#{postId},#{member.memberId},#{title},#{content},#{imageAddressPath},#{image_ext})
	</insert>

	<delete id="deleteQuestion" parameterType="String">
		DELETE FROM
		question_tb
		WHERE post_id=#{questionId}
	</delete>
	<update id="updateNotice" parameterType="Post">
		UPDATE question_tb
		SET
		post_id=#{postId},member_id=#{member.meberId},post_name=#{title},content=#{content},image_address=#{imageAddressPath},image_ext=#{image_ext}
		WHERE post_id=#{postId}
	</update>
</mapper>
  
  
  
  