<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="totoBook.store.mapper.ReviewMapper">

 	<resultMap type="Review" id="reviewMap">
		<result property="comment" column="content"  />
		<result property="imageAddress" column="IMAGE_ADDRESS"/>
		<association property="member" column="member_id"
			select="totoBook.store.mapper.MemberMapper.selectMemberById"
			javaType="Member" jdbcType="VARCHAR" />
		<association property="product" column ="product_id"
			select = "totoBook.store.mapper.ProductMapper.selectProductById"
			javaType = "Product" jdbcType = "VARCHAR"/>
 		</resultMap>
 		
	<insert id="insertComment" parameterType="Review">
		INSERT INTO
		REVIEW_TB(MEMBER_ID, PRODUCT_ID, CONTENT, IMAGE_ADDRESS)
		values(#{member.memberId}, #{product.productId}, #{comment}, #{imageAddress})
	</insert>

	<update id="updateComment" parameterType="Review">
		Update review_tb
		set
		content = #{CONTENT}, image_address = #{IMAGE_ADDRESS}, IMAGE_EXT =
		#{IMAGE_EXT})
		where MEMBER_ID = #{MEMBER_ID}, PRODUCT_ID =
		#{PRODUCT_ID}
	</update>

	<delete id="deleteCommentByMember">
		DELETE review_tb
		WHERE MEMBER_ID = #{member.memberId}
	</delete>

	<delete id="deleteCommentByProduct">
		DELETE review_tb
		WHERE MEMBER_ID = #{product.productId}
	</delete>

	<select id="selectCommentsByProduct" parameterType="string"	resultMap="reviewMap">
		Select MEMBER_ID, PRODUCT_ID, CONTENT, IMAGE_ADDRESS FROM REVIEW_TB where PRODUCT_ID = #{product.productId}
	</select>

	<select id="selectCommentsByMember" parameterType="String" resultMap="reviewMap">
		Select MEMBER_ID, PRODUCT_ID, CONTENT, IMAGE_ADDRESS
		FROM
		REVIEW_TB where MEMBER_ID = #{member.memberId}
	</select>

</mapper>